/* Estilização do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  /* Estilização da navbar */
  .navbar {
    background-color: #343a40;
    padding: 1rem;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-toggler {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-nav .nav-item {
    margin: 0.5rem 0;
  }
  
  .navbar-nav .nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.125rem;
  }
  
  .navbar-nav .nav-item a:hover {
    color: #adb5bd;
  }
  
  .navbar-nav .nav-item.active a {
    font-weight: bold;
  }
  
  .navbar-collapse.collapse {
    display: none;
  }
  
  .navbar-collapse.collapse.show {
    display: flex;
  }
  
  .navbar-nav.ms-auto {
    margin-left: auto;
  }
  
  .navbar-nav .nav-link .fas {
    margin-right: 0.5rem;
  }
  
  /* Estilização para diferentes tamanhos de tela */
  @media (min-width: 992px) {
    .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-collapse.collapse {
      display: flex;
    }
  
    .navbar-toggler {
      display: none;
    }
  }
  