<%- include('header') %>

  <head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: rgba(17, 24, 39, 1);
        font-family: "Bebas Neue", sans-serif;
      }

      .custom-container {
        background-color: rgb(14, 19, 31);
        border-radius: 2rem;
      }

      .botao-tarefa .fas,
      .botao-tarefa {
        color: white !important;

      }

      h1{
        padding-top: 2rem;
      }
    </style>
  </head>

  <body>
    <div class="container custom-container">
      <h1 class="text-center text-secondary mt-5">
       Gerenciamento de tarefas
      </h1>
      <p class="text-center text-secondary mt-5">
        <a class="btn btn-lg btn-custom botao-tarefa" href="/tarefa"> <i class="fas fa-eye me-1"></i> Ver Tarefas </a>
      </p>
    </div>

  </body>


  <%- include('footer') %>