<%- include('header') %>

  <div class="container">
      <h1 class="text-center text-secondary mt-5">
        Suas tarefas organizadas em um só lugar!
      </h1>    
      <p class="text-center text-secondary mt-5" >   
        <a class="btn btn-lg btn-custom" href="/tarefa">  <i class="fas fa-eye me-1"></i>  Ver Tarefas </a>
      </p>
  </div>

<%- include('footer') %>