<%- include('../header') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto mt-4">
        <div class="card shadow">
          <div class="card-header bg-dark">
            <h3 class="text-light">Adicionar Tarefa</h3>
          </div>
          <div class="card-body p-4">
            <form action="/tarefa" method="POST">
              <div class="mb-3">
                <label for="descricao" class="col-sm-3 col-form-label col-form-label-lg">Descrição:</label>
                <input type="text" name="descricao" class="form-control form-control-lg" placeholder="Informe a Descrição..."
                  required />
              </div>
              <div class="mb-3">
                <label for="situacao" class="col-sm-3 col-form-label col-form-label-lg">Situação:</label>
                <select id="situacao" name="situacao" class="form-control form-control-lg" required >
                  <option value="Não iniciada">Não iniciada</option>
                  <option value="Iniciada">Iniciada</option>
                  <option value="Em Andamento">Em Andamento</option>
                  <option value="Concluída ">Concluída</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="data_abertura" class="col-sm-5 col-form-label col-form-label-lg">Data de Abertura:</label>
                <input type="date" name="data_abertura" class="form-control form-control-lg"
                  placeholder="Informe a Data de Abertura..." required />
              </div>
              <div class="mb-3">
                <label for="data_conclusao" class="col-sm-5 col-form-label col-form-label-lg">Data de Conclusão:</label>
                <input type="date" name="data_conclusao" class="form-control form-control-lg"
                  placeholder="Informe a Data de Conclusão..." required />
              </div>
              <div class="mb-3 d-grid">
                <input type="submit" name="submit" value="Gravar" class="btn btn-dark btn-lg" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('../footer') %>